.typic {
  font-family: 'Special Elite',
    cursive;
  color: hsl(204, 90%, 19%);
  font-size: 16px;
  margin: 5px;

}

.typic2 {
  font-family: 'Special Elite',
    cursive;
  color: #05385B;
  font-size: 33px;
  margin: 5px;

}

.ttt {
  color: #EDF5E1;

  font-family: 'Indie Flower', cursive;
  ;
  font-size: 29px;
  margin: 50px;
  cursor: pointer;
  transition: all 0.1s linear;
}

.vertical {
  border: none;
  border-left: 1px solid hsla(200, 10%, 50%, 100);
  height: 23vh;
  width: 2px;
}